<div class="container-fluid facts py-5 pt-lg-0">
    <div class="container py-5 pt-lg-0">
        <div class="row gx-0">
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s">
                <div class="bg-purple-25 shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                    <div class="bg-golden-soft d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                        <i class="bi bi-basket-fill text-purple-dark fs-3 zoomIn wow" data-wow-delay="0.6s"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-white mb-2">محصول</h5>
                        <h1 class="text-white mb-0 d-inline" data-toggle="counter-up">1000</h1>
                        <h1 class="text-white mb-0 d-inline">+</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.3s">
                <div class="bg-golden-50 shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                    <div class="bg-purple-dark-75 d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                        <i class="bi bi-people-fill text-golden-light fs-3 zoomIn wow" data-wow-delay="0.9s"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-purple mb-2">مشتری</h5>
                        <h1 class="mb-0 d-inline" data-toggle="counter-up">500</h1>
                        <h1 class="text-black mb-0 d-inline">+</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s">
                <div class="bg-purple-25 shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                    <div class="bg-golden-soft d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                        <i class="bi bi-award-fill text-purple-dark fs-3 zoomIn wow" data-wow-delay="1.0s" ></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-white mb-2">رضایت</h5>
                        <h1 class="text-white mb-0 d-inline" data-toggle="counter-up">98</h1>
                        <h1 class="text-white mb-0 d-inline">%</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>