
@{
    ViewData["Title"] = "ContactUs";
}

<h1>تماس با ما</h1>
<hr />
<br />
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                راه های تماس
            </div>
            <div class="card-body text-center">
                <p class="card-text">۰۲۱۳۳۴۴۵۵۶</p>
                <p class="card-text">۰۲۱۵۵۶۹۳۸</p>
                <p class="card-text">Info@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="p-5 mb-4 bg-light rounded-3 text-center">
            <div class="container-fluid py-5">
                <h1 class="display-5 mb-2 fw-bold">به فروشگاه ما خوش آمدید</h1>
                <p class=" text-center text-muted ">میتوانید از طریق راه های ارتباطی با ما در تماس باشید</p>
            </div>
        </div>
    </div>
</div>

